<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Billeterie</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="com/epita/dao/Reservation.hbm.xml"/>
    <mapping resource="com/epita/dao/Film.hbm.xml"/>
    <mapping resource="com/epita/dao/Commande.hbm.xml"/>
    <mapping resource="com/epita/dao/User.hbm.xml"/>
    <mapping resource="com/epita/dao/Seances.hbm.xml"/>
    <mapping resource="com/epita/dao/CommamdeEtat.hbm.xml"/>
    <mapping class="com.epita.bean.Reservation"/>
    <mapping class="com.epita.bean.Commande"/>
    <mapping class="com.epita.bean.User"/>
    <mapping class="com.epita.bean.CommamdeEtat"/>
    <mapping class="com.epita.bean.Film"/>
    <mapping class="com.epita.bean.Seances"/>
  </session-factory>
</hibernate-configuration>
